/* ---------------------------------------------------------------------*/
/* BASIC SETUP */
/* ---------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ---------------------------------------------------------------------*/
/* GENERALES */
/* ---------------------------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
    
}

section{
    padding: 80px 0;
}



.box{
    padding: 1%;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------HEADINGS------*/
h1,
h2{
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    padding-top: -30px;
    
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;

}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #669999;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    
}

h3{
    font-size: 110%;
    margin-bottom: 15px; 
}

/* ------LINKS-----*/

a:link,
a:visited{
    color: #669999;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #669999;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ------BUTTONS-----*/
.btn:link, 
.btn:visited,
button{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
button{
    background-color: #669999;
    border: 1px solid #669999;
    color: #fff;
    margin-right: 16px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #669999;
    color: #e67e22;
}

input.file {
    position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #548181;
}

.btn-full:hover,
.btn-full:active
{
    border: 1px solid #548181;
    
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #548181;
    color: #fff;
}

#nextBtn,
#prevBtn{
    cursor: pointer;
}

/* ------ICONS-----*/
.icon-big{
    font-size: 300%;
    display: block;
    color: #669999;
    padding-bottom: 10px;
}

.icon-nav{
    font-size: 200%;
    display: block;
    color: #fff;
}

.icon-small{
    margin-right: 10px;
}


/* ---------------------------------------------------------------------*/
/* NAV-BAR */
/* ---------------------------------------------------------------------*/

/* Main navigation*/

.logo-nav{
    height: 70px;
    width: auto;
    vertical-align: middle;
    padding-top: 10px;
    float: left;
    padding-bottom: 10px;
}

.main-nav{
    
    list-style: none;
    float: right;
    margin-top: 55px;
}



.main-nav li{
    display: inline-block;
    margin-left: 45px;
    font-weight: 400;
}

.main-nav li .icon-nav{ 
    font-size: 350%; 
    display: inline-block;
}
.main-nav li:last-child{
    font-size: 50%;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #669999;;
}

/*Mobile navigation*/
.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon{
    font-size: 200%;
    color: #669999;
}


/*Sticky navigation*/
.sticky{
    z-index: 1000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)), url(img/navfoto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    padding: 7px 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eaeaea;
}

.sticky .main-nav{
    margin: 12px 0;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 8px 0px;
    color: #fff;
}
.sticky .main-nav .icon-nav{ color: #fff; }


/* ---------------------------------------------------------------------*/
/* SECCIONS */
/* ---------------------------------------------------------------------*/

/******* Intro *******/
.intros{
    padding: 50px;
}

.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 1)), url(img/renta.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0 0;
    margin-right: 0;
}

.intro h1{
    color: #fff;
    font-size: 300%;
}

.intro div{
    margin-top: 460px;
    padding-right: 50px;
    text-align: right;
}

.intros a{
    margin-left: 85%;
    margin-top: 70%;
    position: fixed;
    z-index: 99999;
    transform: translateY(-500px)
}

/***************************/

/******* Descripción *******/
.descripcion{
    margin-top: -7%;
    margin-bottom: -5%;
    background-color: #fff;
}
.contact-form {  
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(102, 153, 153,0.6);
    border: 1px solid #ccc;
    font-size: 70%;
}

textarea {
    height: 100px;
}

#desGeneral{
    height: 200px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

/***************************/


/******* filtro y servicios *******/

.filyser{
    padding: 20px 0;
}

.instru-fil{
    text-align: center;
    margin-top: 50px;
}


.filtros-box{
    background-color: rgba(102, 153, 153, 0.5);
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #548181;
    height: 500px;
    margin-right: 46px;
}

.filtros-box h3{
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    padding-top: 10px;
}

h4{
    display: inline-block;
    margin-bottom: 10px;
}

.filtros{
    list-style: none;
}

.filtros li{
    font-size: 80%;
    padding:10px 10px;
    border-bottom: 1px solid #548181;
}


.filtros li input,
.filtros li span{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.filtros .servicios{ list-style: none; }
.filtros .servicios li{ 
    margin-left: -10px;
    text-align: left;
    border: 0;
}

.filtros li:last-child{
    border-bottom: 0;
}


/* The slider itself */
.slider {
  width: 50%; /* Full-width */
  height: 5px; /* Specified height */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.tablasfiltros{
    margin-left: 23%;
}

/***************************/


/******* Fotos *******/


.par{
    font-size: 110%;
    text-align: center;
}

input[type=submit] {
    background-color: #669999;
    border: 1px solid #669999;
    color: #fff;
  padding: 6px 10px;
  text-decoration: none;
 /* margin: 5% 35%;*/
  cursor: pointer;
 text-align: center;
}

.form{
    display: block;
    text-align: center;
}
input[type=file]{
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 65%;
    color: #669999;     
  text-decoration:none;
  cursor: pointer;
 text-align: left;
}


/***************************/


/******* Reglamento y disponibilidad *******/

.reglas-form {  
    width: 90%;
}

.reglas-form textarea {  
    width: 120%;
    height: 300px;
    margin-left: 5%;
    font-size: 70%;
}

.disponibilidad p{
    font-size: 90%;
}


.tabladisp h3{
    padding-bottom: 20px;
    margin-left: 5%;
}

.tabladisp table {
    text-align: center;
    width: 100%;
    border-spacing: 0;
}

.tabladisp th, td {
    border-bottom: 2px solid #626060;
    border-collapse: collapse;
    column-gap:normal;
    text-align: center;
    table-layout: fixed;
    padding: 10px;
    font-weight: 300;
    font-size: 90%;

}

.table{
    align-content: center;
    margin-left:  20px;
}
.tabladisp tr{
    width: 40px;
    font-size: 95%;
}

.tabladisp .edo{
    font-weight: 300;
    color: #c6c6c6;
    cursor: pointer;
}
.tabladisp li {
    margin-bottom: 15px;
    font-weight: bold;
}

.linea{
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;
    color:#669999;
    
}


/***************************/



/* ---------------------------------------------------------------------*/
/*  FOOTER */
/* ---------------------------------------------------------------------*/

footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li, 
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.facebook-logo,
.twitter-logo,
.googleplus-logo,
.instagram-logo{
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.facebook-logo:hover{
    color: #3b5998;
}

.twitter-logo:hover{
    color: #00aced;
}

.googleplus-logo:hover{
    color: #dd4b39;
}

.instagram-logo:hover{
    color: #a7178b;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/* ---------------------------------------------------------------------*/
/*  VISTA-PROPIEDADES */
/* ---------------------------------------------------------------------*/
.state_rented{
    border-style: solid;
    border-width: medium;
    border-color: limegreen;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.state_toRent{
    border-style: solid;
    border-width: medium;
    border-color: red;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.img{
    height: auto;
    width: 100%;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}
.upload-photo {
    height: 150px;
    width: 150px;
}

.input-file{
    width: 50%;
    align-items: center;
}

.primeras-casas{
    margin-bottom: 50px;
}

.mis-hogares h2{
    margin: 60px 0;
}


/*************************************************************

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
 
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #669999;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #48a5a5;
}

